:root{
    --color: #e8603c;
  }
@media (max-width: 1280px){
    nav{
        display: block;

    }
    .burger_menu{
        display: block;
        
    }
    
    nav li{
        display: block;
        text-align: center;
        border-top: none;
        height: 40px;
    }
    
    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: rgb(249, 253, 7);
    }

    nav a{
        display: block;
    }

    nav li a:hover{
        border-top: none;
    }
}